.band {
  position: absolute;
  writing-mode: vertical-lr;
  text-align: left;

  cursor: pointer;

  outline: 1px solid black;

  top: 0;
  left: 0;

  height: 198px;
  width: 30px;
  display: block;
}
